branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

language: php

php:
  - '7.2'
  - '7.3'
  - '7.4'

install:
  - mkdir $HOME/.release-tool && cp tests/system/auth.yml $HOME/.release-tool

script:
  - make check
  - make dist

deploy:
  provider: releases
  api_key: $GITHUB_API_KEY
  file_glob: true
  file: build/*
  skip_cleanup: true
  on:
    tags: true
    php: '7.1'
